
<div style="
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
">

    <h1>Password Generator</h1>
</div>

<div style="
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
">

    <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
    <label class="form-check-label" for="flexRadioDefault1">
        Números
    </label>
    </div>
    <div class="form-check" style="margin: 0 10px" >
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
    <label class="form-check-label" for="flexRadioDefault2">
        Letras
    </label>
    </div>
    <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" >
    <label class="form-check-label" for="flexRadioDefault2">
        Misto
    </label>
    </div>


</div>
  
<div style="
    display: flex;
    align-items: center;
    justify-content: center;
">
    <label style="margin-right: 10px;" for="tamanho">Tamanho</label>
    <input id="tamanho" style="width: 30px; margin-right: 10px;" type="text">
    <input type="text">
</div>

<div style="
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
"> 
    <button class="btn btn-primary">Gerar Senha</button>
</div>